body {
    background-color: #323338;
  }
  
  /* -------------------Попытка сделать ебучий второй цвет ввиде ебаной фигуры-------------------  */
  /* #BotBackground {
      width: 200px;
      height: 200px;
      background: rgba(0, 0, 0, 0.6);
  
      position: absolute;
      right: 0px;
      bottom: 0px;
      
  } */
  /* 
  #BotBackground {
      width: 0; 
      height: 100%; 
      border-bottom: 100px solid rgba(0, 0, 0, 0.6);
      border-right: 100px solid transparent;
      } */
  
  
      /* Pøpenhavn-front */


  
#popenhavnLogo h1 {
  
  position: absolute;
  width: 860.79px;
  height: 229px;
  left: 10%;
  top: 14%;
  
  font-family: Bowlby One SC;
  font-style: normal;
  font-weight: normal;
  font-size: 600%;
  line-height: 189px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  
  color: grey;
   }
  
  /* Pøpenhavn-back */
  
#popenhavnLogo h2 {
      
  position: absolute;
  width: 860.79px;
  height: 229px;
  left: 9.8%;
  top: 12.7%;
  
  font-family: Bowlby One SC;
  font-style: normal;
  font-weight: normal;
  font-size: 600%;
  line-height: 189px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  
  color: white;
  
  }
  
  /* Изменение цвета зачеркнутой "О" */
.logoLetterFront {
    color: purple;
  }
.logoLetterBack {
    color: rebeccapurple;
  }
  
  /* world's most */
  
  #world {
  position: absolute;
  width: 859px;
  height: 226px;
  left: 17%;
  top: 44%;
  
  font-family: Bowlby One SC;
  font-style: normal;
  font-weight: normal;
  font-size: 400%;
  line-height: 113px;
  text-transform: uppercase;
  
  color: #E8E8E8;
  
  }
  
  
  /* Fucked up gallery */
  
#fucked {
    position: absolute;
    width: 859px;
    height: 226px;
    left: 20%;
    top: 51%;
    
    font-family: Bowlby One SC;
    font-style: normal;
    font-weight: normal;
    font-size: 400%;
    line-height: 113px;
    text-transform: uppercase;
    
    color: #E8E8E8;
    
    }
  
#fucked span {
      background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }


    /* Создание каркаса формы */

form {
  float: right;
  width: 30%;
  height: 50em;
  margin-left: 60%;
  margin-right: 5%;
  margin-top: 5%;
  text-align: center;

  border: 10px solid grey;
  border-radius: 35px;
  background-color: #C4C4C4;
}

  /* Заголовок формы */

h3 {
  font-family: Bowlby One SC;
  font-size: 250%;
  margin-top: 8%;
}

/* mail input */

#mail {
  margin-top: 6%;
  text-align: center;
  font-size: 150%;
  width: 60%;
  height: 5%;
  border-radius: 10px;
  border: 0px;
}


/* password input */

#password {
  margin-top: 6%;
  text-align: center;
  font-size: 150%;
  width: 60%;
  height: 5%;
  border-radius: 10px;
  border: 0px;
}

/* при фокусировке на input скрывает placxe holder. Кажется код ниже это реализация под разны браузеры. Я не разбирался а просто спизид код. */

:focus::-webkit-input-placeholder {
  color: transparent
}
 
:focus::-moz-placeholder {
  color: transparent
}
 
:focus:-moz-placeholder {
  color: transparent
}
 
:focus:-ms-input-placeholder {
  color: transparent
}

/* кнопка Sign In */
#signIn {
  float: right;
  margin-top: 6%;
  margin-right: 20%;
  text-align: center;
  font-size: 150%;
  width: 25%;
  height: 5%;
  border-radius: 10px;
  border: 0;
  background-color: white;
  text-transform: uppercase;
  font-family: Bowlby One SC;
}
 
/* Кнопка Log In */
#logIn {
  float: left;
  margin-top: 6%;
  margin-left: 20%;
  text-align: center;
  font-size: 150%;
  width: 25%;
  height: 5%;
  border-radius: 10px;
  border: 0;
  background-color: white;
  text-transform: uppercase;
  font-family: Bowlby One SC;
}

/* Картинка VK */
a #vkIcon {
  float: left;
  width: 14%;
  height: 10%;
  margin-top: 6%;
  margin-left: 25%
}

/* Картинка Google */
a #googleIcon {
  float: right;
  width: 14%;
  height: 10%;
  margin-top: 6%;
  margin-right: 25%
}

 /* Картинка VK */
#girlKnees {
  margin-top: -3%;
  width: 50%;
  height: 40%;
}