body {
    background-color: #363636;
  }
  
  /* -------------------Попытка сделать ебучий второй цвет ввиде ебаной фигуры-------------------  */
  /* #BotBackground {
      width: 200px;
      height: 200px;
      background: rgba(0, 0, 0, 0.6);
  
      position: absolute;
      right: 0px;
      bottom: 0px;
      
  } */
  /* 
  #BotBackground {
      width: 0; 
      height: 100%; 
      border-bottom: 100px solid rgba(0, 0, 0, 0.6);
      border-right: 100px solid transparent;
      } */
  
  
      /* Pøpenhavn-front */
  
    #popenhavnLogo h1 {
  
  position: absolute;
  width: 860.79px;
  height: 229px;
  left: 10%;
  top: 14%;
  
  font-family: Bowlby One SC;
  font-style: normal;
  font-weight: normal;
  font-size: 600%;
  line-height: 189px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  
  color: grey;
   }
  
  /* Pøpenhavn-back */
  
   #popenhavnLogo h2 {
      
  position: absolute;
  width: 860.79px;
  height: 229px;
  left: 9.8%;
  top: 12.7%;
  
  font-family: Bowlby One SC;
  font-style: normal;
  font-weight: normal;
  font-size: 600%;
  line-height: 189px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  
  color: white;
  
  }
  
  /* Изменение цвета зачеркнутой "О" */
  .logoLetterFront {
    color: purple;
  }
  .logoLetterBack {
    color: rebeccapurple;
  }
  
  /* world's most */
  
  #world {
  position: absolute;
  width: 859px;
  height: 226px;
  left: 17%;
  top: 44%;
  
  font-family: Bowlby One SC;
  font-style: normal;
  font-weight: normal;
  font-size: 400%;
  line-height: 113px;
  text-transform: uppercase;
  
  color: #E8E8E8;
  
  }
  
  
  /* Fucked up gallery */
  
  #fucked {
    position: absolute;
    width: 859px;
    height: 226px;
    left: 20%;
    top: 51%;
    
    font-family: Bowlby One SC;
    font-style: normal;
    font-weight: normal;
    font-size: 400%;
    line-height: 113px;
    text-transform: uppercase;
    
    color: #E8E8E8;
    
    }
  
    #fucked span {
      background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
     
  